<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
      </ol>
      <div class="carousel-inner">

        <div class="item" style="background:url(@root_path/public/images/ssp/robot.jpg) no-repeat center center;">
          <div class="container">
            <div class="carousel-caption">
              <h1>Robotics Competition</h1>
              <p>Annual SSP Robotics competition opens to public, at ETS, on June-27 2014.</p>
              <p>
                <a class="btn btn-sm btn-primary" href="https://www.youtube.com/watch?v=4RyRtVpZUio" target="_blank" role="button">Watch recording on Youtube</a>
              </p>
            </div>
          </div>
        </div>

        <div class="item" style="background:url(@root_path/public/images/ssp/astro.jpg) no-repeat center center;">
          <div class="container">
            <div class="carousel-caption">
              <h1>Astronaut Panel</h1>
              <p>The first ISU all-female astronaut panel, July-10 2014.</p>
              <p>
                <a class="btn btn-sm btn-primary" href="http://youtu.be/MG25gq23TWY" target="_blank" role="button">Watch recording on Youtube</a>
              </p>
            </div>
          </div>
        </div>

        <div class="item active" style="background:url(@root_path/public/images/ssp/sky.jpg) no-repeat center center;">
          <div class="container">
            <div class="carousel-caption">
              <h1>Rocket Launch</h1>
              <p>We are launching model rockets on July-26, 10:00 - 12:30, open to public.</p>
            </div>
          </div>
        </div>

      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>