foreach $images do
  <div class="image">
    <img src="@url" alt="@title" width="@width" height="@height" class="thumbnail">
    if @description do
      <em>@description</em>
    endif
  </div>
  <br />
endforeach