<div id="footer" class="container">
    <hr/>
    <span class="pull-right"><strong>
        <a href="http://www.isunet.edu" target="_blank">ISU</a> | 
        <a href="http://www.etsmtl.ca" target="_blank">ETS</a> | 
        <a href="http://www.hec.ca/en" target="_blank">HEC</a>
    </strong></span>
    <strong>&copy; @name, @company</strong> <br/>
    <span style="font-size:85%">Photos by: <a href="http://flyhummingbird.in" target="_blank">Shripathi Hadigal</a> (ISU MSS12) </span>
</div>
