<div class="well well-sm hidden-print" data-spy="affix" data-offset-top="30" data-offset-bottom="100">
    <ul id='navigation' class="left-nav">

        get "/" do
            <li>
                <a href="@root_path">@title</a>
            </li>
        end

        get "/events" do
            <li>
                <a href="@url">@title</a>
            </li>
        end

            get "/news" do
            <li>
                <a href="@url">@title</a>
            </li>
        end

        get "/academics" do
            <li>
                <a href="@url">@title</a>
                <ul class="projects">
                    foreach $children do
                    <li>
                        <a href="@url">@title</a>
                    </li>
                    endforeach
                </ul>
            </li>
        end

        get "/logistics" do
            <li>
                <a href="@url">@title</a>
                <ul class="projects">
                    foreach $children do
                    <li>
                        <a href="@url">@title</a>
                    </li>
                    endforeach
                </ul>
            </li>
        end

        get "/resources" do
            <li>
                <a href="@url">@title</a>
            </li>
        end

        get "/about-us" do
            <li>
                <a href="@url">@title</a>
            </li>
        end

    </ul>
</div>